<div id="reclamation" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/pages/ReclamationDirecteur'">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                

                <div fxLayout="column" fxLayoutAlign="start start"
                     [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2" *ngIf="pageType ==='edit'">
                        {{reclamation.name}}
                    </div>
                    <div class="h2" *ngIf="pageType ==='new'">
                        New Reclamation
                    </div>
                    
                </div>
            </div>
            <!-- / APP TITLE -->

            <button mat-raised-button
                    class="save-reclamation-button"
                    [disabled]="reclamationForm.invalid"
                    *ngIf="pageType ==='new'" (click)="addReclamation()"  >
                <span>ADD</span>
            </button>

            <button mat-raised-button
                    class="save-reclamation-button"
                    [disabled]="reclamationForm.invalid || reclamationForm.pristine"
                    *ngIf="pageType ==='edit'" (click)="Affecter()" >
                <span>AFFECTER</span>
            </button>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT -->
            <div class="content">

                <form name="reclamationForm" [formGroup]="reclamationForm" class="reclamation w-100-p" fxLayout="column" fxFlex>

                   

                            <div class="tab-content p-24" fusePerfectScrollbar>

                                
                                

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>User</mat-label>
                                   

                                    <mat-select formControlName="User">
                                        <mat-option *ngFor="let user of users" [value]="user.firstName  +  user.lastName">
                                          {{user.firstName}} {{user.lastName}}
                                        </mat-option>
                                      </mat-select>
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Description</mat-label>
                                    <textarea matInput placeholder="Description"
                                              name="description"
                                              formControlName="description"
                                              rows="5">
                                    </textarea>
                                </mat-form-field>

                                

                            </div>

                      

                </form>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>
